<template>

    <div>
        <gmap-map :style="googleMaps.dimensions" :options="googleMaps.options" :center="googleMaps.center" :zoom="18" map-type-id="satellite" ref="mapRef">

            <gmap-marker :key="'overlayMarker-'+index" v-for="(marker, index) in overlayMarkers"
                         @drag="updateOverlayLocation($event.latLng, marker, index)"
                         :position="marker.position"
                         :draggable="true">
            </gmap-marker>

            <gmap-marker :key="'rotateMarker-'+index" v-for="(marker, index) in rotateMarkers"
                         :icon="marker.icon"
                         @drag="updateOverlayRotation($event.latLng)"
                         :position="marker.position"
                         :draggable="true">
            </gmap-marker>

            <gmap-marker :key="'sizeMarker-'+index" v-for="(marker, index) in sizeMarkers"
                         :icon="marker.icon"
                         @drag="updateOverlaySize($event.latLng)"
                         :position="marker.position"
                         :draggable="true">
            </gmap-marker>
            <ground-overlay :key="overlay.key" v-for="(overlay, index) in groundOverlays"
                            v-if="overlay.bounds"
                            source="http://placehold.it/300x200"
                            :bounds="overlay.bounds"
                            :opacity="0.9"
                            >
            </ground-overlay>
        </gmap-map>
    </div>

</template>

<script>
import {gmapApi, MapElementFactory} from 'vue2-google-maps';

Vue.component('ground-overlay', MapElementFactory({
    mappedProps: {
        'opacity': {},
    },
    props: {
        'source': {type: String},
        'bounds': {type: Object}
    },
    events: ['click', 'dblclick'],
    name: 'groundOverlay',
    ctr: () => google.maps.GroundOverlay,
    ctrArgs: (options, {source, bounds}) => [source, bounds, options],
}));


export default {
    props: [],
    data() {
        return {
            markers: [],
            googleMaps: {
                icon: null,
                bounds: null,
                dimensions: 'height: 714px; width: 100%;',
                center: {
                    lat: 53.1979114,
                    lng: 6.6150119
                },
                google: gmapApi,
                map: null,
                options: {
                    zoomControl: true,
                    mapTypeControl: true,
                    scaleControl: false,
                    streetViewControl: false,
                    rotateControl: false,
                    fullscreenControl: false,
                    disableDefaultUi: false
                },
            },
            k_diff: 0.0003,
            d_diff: 0.001,
            rot: 0,
            groundOverlays: [
                {
                    key: this.randomKey(),
                    bounds: null
                }
            ],
            overlayMarkers: [
                {
                    position: null,
                    bounds: null
                }
            ],
            sizeMarkers: [
                {
                    position: null,
                    icon: {
                        path: 'M -35 -35 h 70 v 70 h -70 Z',
                        fillOpacity: 0.5,
                        strokeWeight: 2,
                        scale: 0.2
                    }
                }
            ],
            rotateMarkers: [
                {
                    position: null,
                    icon: {
                        path: 'M -35 -35 h 70 v 70 h -70 Z',
                        fillOpacity: 0.5,
                        strokeWeight: 2,
                        scale: 0.2
                    }
                }
            ]
        }
    },
    mounted() {
        const self = this

        this.$refs.mapRef.$mapPromise.then((map) => {

            self.googleMaps.icon = {
                path: "M306.908,164.571l78.89-86.204c2.121-2.236,2.734-5.507,1.567-8.359c-1.367-2.812-4.189-4.626-7.314-4.702H126.663c0,0-3.135,0-3.135,0.522v-9.404c13.393-2.134,22.926-14.163,21.943-27.69C145.474,13.067,132.925,0.285,117.259,0c-16.047-0.01-29.217,12.697-29.78,28.735c0.536,12.512,8.589,23.456,20.375,27.69v411.167c0,4.328,3.509,7.837,7.837,7.837s7.837-3.509,7.837-7.837V263.837h256.522c3.206,0.209,6.174-1.698,7.314-4.702c1.04-2.864,0.439-6.067-1.567-8.359L306.908,164.571z",
                fillColor: '#ffb119',
                fillOpacity: 1,
                strokeWeight: 1,
                scale: 0.08,
                scaledSize: new google.maps.Size(25, 25),
                origin: new google.maps.Point(0, 0),
                anchor: new google.maps.Point(150, 485)
            }

            self.googleMaps.bounds = new google.maps.LatLngBounds();

            // set ground overlay image
            var swBound = new google.maps.LatLng(this.googleMaps.center.lat - this.k_diff, this.googleMaps.center.lng - this.d_diff);
            var neBound = new google.maps.LatLng(this.googleMaps.center.lat + this.k_diff, this.googleMaps.center.lng + this.d_diff);
            var bounds = new google.maps.LatLngBounds(swBound, neBound);

            this.groundOverlays[0].bounds = bounds;

            // set ground overlay center marker
            this.overlayMarkers[0].position = {
                lat: (bounds).getCenter().lat(),
                lng: (bounds).getCenter().lng(),
            }

            // set rotate marker
            this.rotateMarkers[0].position = new google.maps.LatLng(this.googleMaps.center.lat + this.k_diff, this.googleMaps.center.lng)

            // set size marker
            this.sizeMarkers[0].position = new google.maps.LatLng(this.googleMaps.center.lat + this.k_diff, this.googleMaps.center.lng + this.d_diff)

        setTimeout(() => {
            document.querySelector("img[src^='http://placehold.it/300x200']").setAttribute("rot", '0');
            document.querySelector("img[src^='http://placehold.it/300x200']").setAttribute("rotResize", '0');
            document.querySelector("img[src^='http://placehold.it/300x200']").setAttribute("resizeLat", '0');
            document.querySelector("img[src^='http://placehold.it/300x200']").setAttribute("resizeLng", '0');
            document.querySelector("img[src^='http://placehold.it/300x200']").setAttribute("kDiff", '0');
            document.querySelector("img[src^='http://placehold.it/300x200']").setAttribute("dDiff", '0');
            document.querySelector("img[src^='http://placehold.it/300x200']").setAttribute("randomKey", '0');
            document.querySelector("img[src^='http://placehold.it/300x200']").setAttribute("lat", '0');
            document.querySelector("img[src^='http://placehold.it/300x200']").setAttribute("lng", '0');
            document.querySelector("img[src^='http://placehold.it/300x200']").setAttribute("sizeLat", '0');
            document.querySelector("img[src^='http://placehold.it/300x200']").setAttribute("sizeLng", '0');
            document.querySelector("img[src^='http://placehold.it/300x200']").setAttribute("rotateLat", '0');
            document.querySelector("img[src^='http://placehold.it/300x200']").setAttribute("rotateLng", '0');
        }, 300);



        });
    },
    created() {
        //
    },
    updated() {
    },
    methods: {
        randomKey(){
            return Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);
        },
        updateOverlayLocation(location, marker, index) {
            //Denys previous working

            // var newPointA = new google.maps.LatLng(location.lat() - this.k_diff, location.lng() - this.d_diff);
            // var newPointB = new google.maps.LatLng(location.lat() + this.k_diff, location.lng() + this.d_diff);
            // var newPointRotate = new google.maps.LatLng(location.lat() + this.k_diff, location.lng());
            // var newBounds = new google.maps.LatLngBounds(newPointA, newPointB);

            // var newPointR = new google.maps.LatLng(location.lat() + (Math.cos(this.rot * Math.PI / 180) * 0.005), location.lng() + (Math.sin(this.rot * Math.PI / 180) * 0.005));

            // this.groundOverlays[0].bounds = newBounds
            // // this.groundOverlays[0].key = this.randomKey();

            // this.overlayMarkers[index].position = {
            //     lat: parseFloat(document.querySelector("img[src^='http://placehold.it/300x200']").getAttribute("lat")),
            //     lng: parseFloat(document.querySelector("img[src^='http://placehold.it/300x200']").getAttribute("lng")),
            // }

            // this.sizeMarkers[0].position = {
            //     lat: parseFloat(document.querySelector("img[src^='http://placehold.it/300x200']").getAttribute("sizeLat")),
            //     lng: parseFloat(document.querySelector("img[src^='http://placehold.it/300x200']").getAttribute("sizeLng"))
            // }

            // this.rotateMarkers[0].position = {
            //     lat: parseFloat(document.querySelector("img[src^='http://placehold.it/300x200']").getAttribute("rotateLat")),
            //     lng: parseFloat(document.querySelector("img[src^='http://placehold.it/300x200']").getAttribute("rotateLng"))
            // }

            // document.querySelector("img[src^='http://placehold.it/300x200']").setAttribute("lat", location.lat());
            // document.querySelector("img[src^='http://placehold.it/300x200']").setAttribute("lng", location.lng());
            // document.querySelector("img[src^='http://placehold.it/300x200']").setAttribute("sizeLat", newPointB.lat());
            // document.querySelector("img[src^='http://placehold.it/300x200']").setAttribute("sizeLng", newPointB.lng());
            // document.querySelector("img[src^='http://placehold.it/300x200']").setAttribute("rotateLat", newPointRotate.lng());
            // document.querySelector("img[src^='http://placehold.it/300x200']").setAttribute("rotateLng", newPointRotate.lng());


            var newPointA = new google.maps.LatLng(location.lat() - this.k_diff, location.lng() - this.d_diff);
            var newPointB = new google.maps.LatLng(location.lat() + this.k_diff, location.lng() + this.d_diff);
            var newBounds = new google.maps.LatLngBounds(newPointA, newPointB);

            //var newPointR = new google.maps.LatLng(location.lat() + (Math.cos(this.rot * Math.PI / 180) * 0.005), location.lng() + (Math.sin(this.rot * Math.PI / 180) * 0.005));

            this.groundOverlays[0].bounds = newBounds
            this.groundOverlays[0].key = this.randomKey();

            this.overlayMarkers[index].position = {
                lat: location.lat(),
                lng: location.lng(),
            }

            this.sizeMarkers[0].position = {
                lat: newPointB.lat(),
                lng: newPointB.lng()
            }

        },
        updateOverlaySize(location, marker, index) {
            //Denys previous work

            // this.k_diff = (location.lat() - this.overlayMarkers[0].position.lat);
            // this.d_diff = (location.lng() - this.overlayMarkers[0].position.lng);

            // this.k_diff = document.querySelector("img[src^='http://placehold.it/300x200']").getAttribute('kDiff');
            // this.d_diff = document.querySelector("img[src^='http://placehold.it/300x200']").getAttribute('dDiff');

            // var newPointA = new google.maps.LatLng(parseFloat(this.overlayMarkers[0].position.lat) + parseFloat(document.querySelector("img[src^='http://placehold.it/300x200']").getAttribute('kDiff')), parseFloat(this.overlayMarkers[0].position.lng) + parseFloat(document.querySelector("img[src^='http://placehold.it/300x200']").getAttribute('dDiff')));
            // var newPointB = new google.maps.LatLng(parseFloat(this.overlayMarkers[0].position.lat) - parseFloat(document.querySelector("img[src^='http://placehold.it/300x200']").getAttribute('kDiff')), parseFloat(this.overlayMarkers[0].position.lng) - parseFloat(document.querySelector("img[src^='http://placehold.it/300x200']").getAttribute('dDiff')));
            // var newBounds = new google.maps.LatLngBounds(newPointA, newPointB);

            // this.groundOverlays[0].bounds = newBounds;
            // this.groundOverlays[0].key = document.querySelector("img[src^='http://placehold.it/300x200']").getAttribute('randomKey');
            // document.querySelector("img[src^='http://placehold.it/300x200']").setAttribute("kDiff", location.lat() - this.overlayMarkers[0].position.lat);
            // document.querySelector("img[src^='http://placehold.it/300x200']").setAttribute("dDiff", location.lng() - this.overlayMarkers[0].position.lng);
            // document.querySelector("img[src^='http://placehold.it/300x200']").setAttribute("randomKey", this.randomKey());
            // document.querySelector("img[src^='http://placehold.it/300x200']").parentElement.style.transform = "rotate(" + document.querySelector("img[src^='http://placehold.it/300x200']").getAttribute("rot") + "deg)";


            this.k_diff = (location.lat() - this.overlayMarkers[0].position.lat);
            this.d_diff = (location.lng() - this.overlayMarkers[0].position.lng);

            var newPointA = new google.maps.LatLng(this.overlayMarkers[0].position.lat - this.k_diff, this.overlayMarkers[0].position.lng - this.d_diff);
            var newPointB = new google.maps.LatLng(this.overlayMarkers[0].position.lat + this.k_diff, this.overlayMarkers[0].position.lng + this.d_diff);
            var newBounds = new google.maps.LatLngBounds(newPointA, newPointB);

            this.groundOverlays[0].bounds = newBounds
            this.groundOverlays[0].key = this.randomKey();


        },
        updateOverlayRotation(location, marker, index) {
            let k_rotation_diff = location.lat() - this.overlayMarkers[0].position.lat;
            let d_rotation_diff = location.lng() - this.overlayMarkers[0].position.lng;
            let rot_resize = Math.atan2(this.d_diff, this.k_diff) * 180 / Math.PI;

            document.querySelector("img[src^='http://placehold.it/300x200']").parentElement.style.transform = "rotate(" + document.querySelector("img[src^='http://placehold.it/300x200']").getAttribute("rot") + "deg)";
            document.querySelector("img[src^='http://placehold.it/300x200']").setAttribute("rot", Math.atan2(d_rotation_diff, k_rotation_diff) * 180 / Math.PI);
            document.querySelector("img[src^='http://placehold.it/300x200']").setAttribute("rotResize", rot_resize + Math.atan2(d_rotation_diff, k_rotation_diff) * 180 / Math.PI);
            document.querySelector("img[src^='http://placehold.it/300x200']").setAttribute("kDiff", location.lat() - this.overlayMarkers[0].position.lat);
            document.querySelector("img[src^='http://placehold.it/300x200']").setAttribute("dDiff", location.lng() - this.overlayMarkers[0].position.lng);
        },
    },
}
</script>
